<!--<script src="frontEnd/lib/rating.js"></script>-->
<div class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()"
					data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{title}}</h4>
			</div>

			<div class="modal-body">
				<label class="modalSubHeading"> Review Submission </label> <span>
					<label class="submissionStyle">{{showData.submissionNo}}</label>
				</span>


				<form name="quotationForm" class="form-horizontal" role="form"
					novalidate>

					<div class="row modalAlign">
						<div class="leftPanel col-md-6">
							<div class="form-group" style="margin-top: 10px;">
								<label class="headingsLabel"> Agent Name : </label> <span>
									<label class="labelData">{{showData.agentName}}</label>
								</span>
							</div>

							<div class="form-group ">
								<label class="headingsLabel"> Parent Agent Name : </label> <span>
									<label class="labelData">{{showData.parentAgentName}}</label>
								</span>
							</div>

							<div class="form-group">
								<label class="headingsLabel"> Business Unit Name : </label> <span>
									<label class="labelData">{{showData.businessUnitName}}</label>
								</span>
							</div>

							<div class="form-group ">
								<label class="headingsLabel"> Previous Policy Number : </label>
								<span> <label class="labelData">{{showData.previousPolicyNum}}</label>
								</span>
							</div>

							<div class="form-group">
								<label class="headingsLabel"> Agent Contact : </label> <span>
									<label class="labelData">{{showData.agentContact}}</label>
								</span>
							</div>

							<div class="form-group">
								<label class="headingsLabel"> Submission Date :<br>
									<i class="subTitle">(mm-dd-yyyy)</i>
								</label> <span> <label class="labelData">{{submissionDate}}</label>
								</span>
							</div>

							<div class="form-group" ng-show="showData.status==='REJECTED'">
								<label class="headingsLabel"> Rejected Date :<br> <i
									class="subTitle">(mm-dd-yyyy)</i>
								</label> <span> <label class="labelData">{{rejectedDate}}</label>
								</span>
							</div>



						</div>
						<div class="rightPanel col-md-6">
							<div class="form-group " style="margin-top: 10px;">
								<label class="headingsLabel"> Agent Code : </label> <span>
									<label class="labelData">{{showData.agentCode}}</label>
								</span>
							</div>

							<div class="form-group ">
								<label class="headingsLabel">Parent Agent Code : </label> <span>
									<label class="labelData">{{showData.parentAgentCode}}</label>
								</span>
							</div>

							<div class="form-group ">
								<label class="headingsLabel"> Operating Unit Name : </label> <span>
									<label class="labelData">{{showData.operatingUnitName}}</label>
								</span>
							</div>

							<div class="form-group ">
								<label class="headingsLabel"> Insured Name : </label> <span>
									<label class="labelData">{{showData.insuredName}}</label>
								</span>
							</div>

							<div class="form-group ">
								<label class="headingsLabel"> Status : </label> <span> <label
									class="labelData">{{showData.status}}</label>
								</span>
							</div>

							<div class="form-group" ng-show="showData.status==='REJECTED'">
								<label class="headingsLabel"> Last Quotation Date :<br>
									<i class="subTitle">(mm-dd-yyyy)</i>
								</label> <span> <label class="labelData">{{lastQuotedDate}}</label>
								</span>
							</div>
						</div>


						<div class="col-sm-12">
							<label class="bottomHeading">Rate and Quote</label>
							<div class="">
								<div class="form-group headingSection ">
									<div class="col-sm-6" style="margin-top: 10px;">
										<label class="headingsLabel">Rate this Submission <span
											class="errorTag">*</span></label>
										<div>
											<div class="star-rating" star-rating rating-value="rating"
												data-max="5" on-rating-selected="rateFunction(rating)"></div>
										</div>
										<p class="errorTag" ng-show="showRatingError">Provide the
											rating</p>
									</div>

									<div class="col-sm-6" style="margin-top: 10px;">
										<label class="headingsLabel quoteSection"> Quote your
											rate to this submission <span class="errorTag">*</span>
										</label><span class="dollarSignEdit">$</span> <span> <input
											name="quotation" class="form-control quoteBox"
											placeholder="Enter your Quotation" ng-model="quotation"
											maxlength="10" type="text" number-only required />
											<label class="labelBottom-rate">per annum</label>
										</span>
										<p class="errorTag"
											style="margin-left: 40px !important; margin-top: 5px;"
											ng-show="quotationForm.quotation.$invalid && ((!showQuotationError)||!quotationForm.quotation.$pristine)">Enter
											your quotation</p>

									</div>
								</div>
							</div>




						</div>
					</div>
				</form>
			</div>


			<div class="modal-footer">
				<button class="btn btn-primary"
					ng-click="submitForm(quotationForm.$valid)">Submit</button>
				<button type="button" ng-click="cancel()" class="btn">Cancel</button>
			</div>
		</div>
	</div>
</div>